@import "bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/bootstrap/scss/bootstrap";
@import "tippy.js/dist/tippy.css";
@import "include-media/dist/_include-media.scss";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 13.75rem;
    max-width: 40vw;
    margin: 3rem;
    @include media("<tablet") {
      margin: 1rem;
    }
    form {
      margin: 0 auto;
      display: flex;
      input {
        width: 25vw;
        margin: 0 1rem;
        text-align: center;
        @include media("<825px") {
          width: 205px;
        }
        @include media("<=600px") {
          margin-left: -1.5rem;
        }
      }
    }
  }
}

.favorites-sidebar {
  position: absolute;
  left: 0;
  top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  flex-wrap: wrap;
}

.canvas-toggler {
  position: absolute;
  left: 1rem;
}

.favorite-item {
  width: 100%;
  margin: 0.5rem 0;
  cursor: pointer;
  .col {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: lightgray;
    p {
      padding: 0;
      padding-left: 1.2rem;
      margin: 0;
      color: #1f1f1f;
      cursor: pointer;
    }
  }
}

.body-container {
  height: 80vh;
  width: 80vw;
  overflow-y: auto;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  @include media("<tablet") {
    width: 100vw;
    height: 79vh;
    margin-bottom: -2.5rem;
  }
}

div.image-wrapper {
  position: relative;
  padding: 0;
  margin: 1rem;
  height: fit-content;
  width: fit-content;

  &:hover {
    .image-details {
      opacity: 1;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5rem;
      width: 100%;
      background-color: rgb(31, 31, 31, 0.7);
      justify-content: right;
      align-items: center;
      margin: 0 auto;

      div {
        opacity: 1;
        display: flex;
        align-items: center;
        p {
          opacity: 1;
          display: inline;
          text-align: left;
        }
        .btn {
          opacity: 1;
          display: block;
        }
      }
    }
  }

  img.image-search-result {
    max-width: 400px;
    max-height: 600px;
    @include media("<=tablet") {
      max-height: 60vh;
      max-width: 85vw;
    }
  }

  .image-details {
    opacity: 0;
    display: none;

    div {
      opacity: 0;
      margin: 0;
      padding: 0;
    }
    .col-4 {
      margin: 0 0.75rem;
    }

    p {
      color: #ddd;
      margin: 0;
      opacity: 0;
      display: none;
    }
    .btn {
      opacity: 0;
      display: none;
    }
  }
}

.offcanvas,
.offcanvas-header,
.offcanvas-body {
  @include media("<600px") {
    width: 100vw;
  }
}

// fav img modal
.modal-xl {
  justify-content: center;
}

.modal-content {
  width: fit-content;
  height: fit-content;

  .modal-body {
    width: 100%;
    img {
      max-height: 80vh;
      @include media("<=tablet") {
        max-height: 60vh;
        max-width: 85vw;
      }
    }
  }
}
